<header class="header container">
	<div class="header-logo">
	    <a href="">Decode Blog</a>	
	</div>
	<div class="header-search">
		<input type="text" class="input-search" placeholder="Поиск по блогам">
		<button class="button button-search">
			<img src="images/search.svg" alt="">	
			Найти
		</button>
	</div>
	<div>
		
        <!-- <a href="">
            <img class="avatar" src="images/avatar.png" alt="Avatar">
        </a> -->

        <div class="button-group">
            <a href="" class="button">Регистрация</a>
            <a href="" class="button">Вход</a>
        </div>

		
	</div>
</header>
