<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Профиль</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style/all.css" />
  </head>
  <body>
    <header class="header container">
      <div class="header-logo">
        <a href="">Decode Blog</a>
      </div>
      <div class="header-search">
        <input type="text" class="input-search" placeholder="Поиск по блогам" />
        <button class="button button-search">
          <img src="images/search.svg" alt="" />
          Найти
        </button>
      </div>
      <div>
        <!-- <a href="">
            <img class="avatar" src="images/avatar.png" alt="Avatar">
        </a> -->

        <div class="button-group">
          <a href="" class="button">Регистрация</a>
          <a href="" class="button">Вход</a>
        </div>
      </div>
    </header>

    <section class="container page">
      <div class="page-content">
        <div class="blogs">
          <div class="blog-item">
            <img class="blog-item--img" src="images/1.png" alt="" />

            <div class="blog-info">
              <span class="link">
                <img src="images/date.svg" alt="" />
                26.06.2020
              </span>
              <span class="link">
                <img src="images/visibility.svg" alt="" />
                21
              </span>
              <a class="link">
                <img src="images/message.svg" alt="" />
                4
              </a>
              <span class="link">
                <img src="images/forums.svg" alt="" />
                Веб-разработка
              </span>
              <a class="link">
                <img src="images/person.svg" alt="" />
                Nast1289
              </a>
            </div>

            <div class="blog-header">
              <h3>Обзор Report Manager от Webix</h3>
            </div>
            <p class="blog-desc">
              Осень 2020 года стала плодотворным временем для специалистов
              Webix. Команда Webix выпустила восьмую версию библиотеки
              пользовательского интерфейса Webix с двумя новыми комплексными
              виджетами. Первый - зто Scheduler, о котором мы подробно говорили
              ранее. Второй виджет - это Gantt chart в JavaScript. Подробную
              информацию об этом виджете Вы можете найти в статье. Ноябрь
              продолжает тенденцию, и мы спешим поделиться с Вами новым
              комплексным виджетом Report Manager. Давайте рассмотрим ег
            </p>
          </div>
        </div>
      </div>

      <div class="page-info">
        <div class="page-header">
          <h2>Категории</h2>
        </div>

        <a class="list-item" href=""></a>
      </div>
    </section>
  </body>
</html>
