<!DOCTYPE html>
<html lang="en">
<head>
	<title>Профиль</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style/all.css">
</head>
<body>

<header class="header container">
	<div class="header-logo">
	    <a href="">Decode Blog</a>	
	</div>
	<div class="header-search">
		<input type="text" class="input-search" placeholder="Поиск по блогам">
		<button class="button button-search">
			<img src="images/search.svg" alt="">	
			Найти
		</button>
	</div>
	<div>
		
        <!-- <a href="">
            <img class="avatar" src="images/avatar.png" alt="Avatar">
        </a> -->

        <div class="button-group">
            <a href="" class="button">Регистрация</a>
            <a href="" class="button">Вход</a>
        </div>

		
	</div>
</header>

<section class="container page">
	<div class="page-content">
		<div class="page-header">
			<h2>Мои блоги</h2>
			
			<a class="button" href="">Новый блог</a>

		</div>

		<div class="blogs">

			<div class="blog-item">
				<img class="blog-item--img" src="images/1.png" alt="">
				<div class="blog-header">
					<h3>Blog 1</h3>
					<span class="link">
						<img src="images/dots.svg" alt="">
						Еще

						<ul class="dropdown">
							<li> <a href="">Редактировать</a> </li>
							<li><a href="" class="danger">Удалить</a></li>
						</ul>
					</span>

				</div>
				<p class="blog-desc">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, inventore?
				</p>

				<div class="blog-info">
					<span class="link">
						<img src="images/date.svg" alt="">
						22.12.21
					</span>
					<span class="link">
						<img src="images/visibility.svg" alt="">
						21
					</span>
					<a class="link">
						<img src="images/message.svg" alt="">
						4
					</a>
					<span class="link">
						<img src="images/forums.svg" alt="">
						3
					</span>
					<a class="link">
						<img src="images/person.svg" alt="">
						Elnur
					</a>
				</div>
			</div>
			

			<!-- <h1>0 blogs</h1> -->


		</div>
	</div>
	<!-- <div class="page-info">
		<div class="user-profile">
			<img class="user-profile--ava" src="images/avatar.png" alt="">

			<h1>Елнур Сеитжанов</h1>
			<h2>В основном пишу про веб - разработку, на React & Redux</h2>
			<p>285 постов за все время</p>
			<a href="" class="button">Редактировать</a>
			<a href="" class="button button-danger"> Выход</a>
		</div>
	</div> -->
</section>	
</body>
</html>